# **Data Cleaning Data**
This task will involve formatting data to be usable for analysis. This will include:
1. Monetary amounts: removing currency symbols.
2. Other numerical data: Cast all numerical data to float.
3. Unique identifiers: Cast unique identifiers columns like "Customer ID" to string.
4. Missing data symbols: Replace missing data symbols like "-" or "None" to NaN.
5. Timestamps: Cast datetime data types to datetime type.

As for missing data, I will handle it during data analysis on a need basis.

In [38]:
import pandas as pd
import numpy as np

### **Import merged data**

In [39]:
# Format Unique identifiers to string
dtypes = {'Customer ID':'str', 'Custom_Template_ID':'str', 'Order ID':'str',
'Transaction ID':'str','Merchant ID':'str','Task_ID':'str','Agent_ID':'str',
'country_code':'str'
}

In [40]:
# Import data from CSV
df = pd.read_csv("../data/merged_data.csv", dtype=dtypes)

# Replace missing data symbols like "-" or "None" to NaN
df.replace(to_replace="None", value=np.nan, inplace=True)
df.replace(to_replace="-", value=np.nan, inplace=True)

df.head()

,Customer ID,Last Used Platform,Is Blocked,Created At,Language,Outstanding Amount,Loyalty Points,Number of Employees,Upload restuarant location,country_code,...,Custom_Template_ID,Task_Details_QTY,Task_Details_AMOUNT,Special_Instructions,Delivery_Charges,Subtotal,Payment_Type,Task_Category,Earning,Pricing
0,3144837,WEB,0,2021-03-15T17:13:19.000Z,en,0,0,NaN,NaN,254,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3174590,WEB,0,2021-03-20T14:15:11.000Z,en,0,0,NaN,NaN,254,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3181998,WEB,0,2021-03-21T15:36:51.000Z,en,0,0,NaN,NaN,254,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3191244,WEB,0,2021-03-23T08:54:00.000Z,en,0,367,NaN,NaN,254,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3274222,WEB,0,2021-04-06T13:52:39.000Z,en,0,0,NaN,NaN,254,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## **Format amounts**

In [41]:
df['Outstanding Amount'] = df['Outstanding Amount'].astype("float")
df['Outstanding Amount'] = df['Loyalty Points'].astype("float")
df['Number of Employees'] = df['Number of Employees'].astype('float32').apply(lambda x: '%.0f' % x)
df['Quantity'] = df['Quantity'].astype(float)
df['Unit Price'] = df['Quantity'].astype(float)
df['Cost Price'] = df['Cost Price'].astype(float)
df['Total Cost Price'] = df['Total Cost Price'].astype(float)
df['Total Price'] = df['Total Price'].astype(float)
df['Order Total'] = df['Order Total'].astype(float)
df['Sub Total'] = df['Sub Total'].astype(float)
df['Tax'] = df['Tax'].replace(to_replace="-", value=np.nan).astype(float)
df['Delivery Charge'] = df['Delivery Charge'].astype(float)
df['Remaining Balance'] = df['Remaining Balance'].astype(float)
df['Additional Charge'] = df['Additional Charge'].astype(float)
df['Taxable Amount'] = df['Taxable Amount'].astype(float)
df['Distance (in km)'] = df['Distance (in km)'].astype(float)
df['Ratings'] = df['Ratings'].astype(float)
df['Order Preparation Time'] = df['Order Preparation Time'].astype(float)
df['Flat Discount'] = df['Flat Discount'].astype(float)
df['Total_Time_Taken(min)'] = df['Total_Time_Taken(min)'].astype(float)
df['Rating'] = df['Rating'].astype(float)
df['Latitude'] = df['Latitude'].astype(float)
df['Longitude'] = df['Longitude'].astype(float)


df['Debt Amount'] = df['Debt Amount'].astype(float)
df['Redeemed Loyalty Points'] = df['Redeemed Loyalty Points'].astype(float)
df['Consumed Loyalty Points'] = df['Consumed Loyalty Points'].astype(float)
df['Checkout Template Name'] = df['Checkout Template Name'].astype(float)
df['Checkout Template Value'] = df['Checkout Template Value'].astype(float)
df['Distance(m)'] = df['Distance(m)'].astype(float)
df['Ref_Images'] = df['Ref_Images'].astype(float)
df['Tags'] = df['Tags'].astype(float)
df['Task_Details_QTY'] = df['Task_Details_QTY'].astype(float)
#df['Subtotal'] = df['Subtotal'].astype(float)
df['Earning'] = df['Earning'].astype(float)
df['Pricing'] = df['Pricing'].astype(float)

### **Format monetary data**

In [42]:
def money_formatting(col):
    """
    This functions formats monetary data.

    Args:
        col:dataframe column

    Returns:
        col: a formatted dataframe column 
    """
    curr_pattern = r'[\w|â‚¦\s]+(\d.\d+)[\s\wï¿½ï¿½]*'
    col = col.astype(str)
    col = col.str.replace(curr_pattern,r'\1')
    col = col.replace(to_replace="-", value=np.nan)
    return col.astype(float)

In [43]:
# format amount columns
df['Tip'] = money_formatting(df['Tip'])
df['Discount'] = money_formatting(df['Discount'])
df['Task_Details_AMOUNT'] = money_formatting(df['Task_Details_AMOUNT'])
df['Delivery_Charges'] = money_formatting(df['Delivery_Charges'])
df['Task_Details_AMOUNT'] = money_formatting(df['Task_Details_AMOUNT'])
#df['Subtotal'] = df['Subtotal'].str.replace(curr_pattern,r'\1').replace(to_replace="-", value=np.nan).astype(float)

### **Format datetime data**

In [44]:
# Format timestamps
df['Order Time'] = pd.to_datetime(df['Order Time'])
df['Pickup Time'] = pd.to_datetime(df['Pickup Time'])
df['Delivery Time'] = pd.to_datetime(df['Delivery Time'])
df['Start_Before'] = pd.to_datetime(df['Start_Before'])
df['Complete_Before'] = pd.to_datetime(df['Complete_Before'])
df['Completion_Time'] = pd.to_datetime(df['Completion_Time'])

In [47]:
df.to_csv("../data/formatted_data.csv", index=False)